# Handle line endings
* text=auto

# Python files
*.py text diff=python

# JSON
*.json text

# Markdown
*.md text

# Shell scripts
*.sh text eol=lf

# HTML
*.html text

# Exclude binary from diff
*.exe binary
*.zip binary
*.tar binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary

# UTF-8 encoding by default
* charset=utf-8
